In [1]:
import pandas as pd
datafile_path = './data.csv'
data = pd.read_csv(datafile_path)
data.describe()

           Roll No.  Mobile Number
count  1.640000e+02   1.640000e+02
mean   2.020821e+08   2.536425e+10
std    1.653284e+09   1.224825e+11
min    1.151014e+07   6.290981e+09
25%    1.171048e+07   8.100995e+09
50%    1.181205e+07   8.698579e+09
75%    2.181200e+07   9.591330e+09
max    1.503557e+10   9.199964e+11